
/* Aplica fondo rojo a todo el contenido */
.outer-container {
    background-color: #f43a49 ;
}

/* Opcional: Aplica fondo rojo a todo el contenido incluyendo el espacio dentro de los paneles de colapsos */
.nz-collapse,
.nz-collapse-panel {
    background-color: #f43a49 ;
}

/* Opcional: Cambia el color del texto para que sea legible sobre el fondo rojo */
.nz-collapse-panel-content {
    color: white;
}

/* Estilo para el contenedor */
.custom-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 30px;
  }
  
  /* Estilo para la nz-card */
  .custom-card {
    width: 900px;
    background: #f98787;
    border-radius: 5px;
    color: aliceblue;
  }
  
  .custom-card .ant-card-head-title {
    color: white;
  }

  /* Estilo para cambiar el color del botón a negro */
button.nz-button.primary {
    background-color: black !important;
    color: white; /* Para asegurar la legibilidad del texto */
}
