.progress-container {
    position: relative;
  }
  
  .progress-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: 1;
  }
  
  .progress-segment {
    height: 100%;
  }
  
  .segment-1 {
    width: 33%;
    background-color: #6CB3DD;
    border-top-left-radius: 5px; /* Ajuste para el lado izquierdo del segmento 1 */
    border-bottom-left-radius: 5px; /* Ajuste para el lado izquierdo del segmento 1 */
  }
  
  .segment-2 {
    width: 33%;
    background-color: #527C96;
  }
  
  .segment-3-approved {
    width: 34%;
    background-color: #619100;
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
  }
  
  .segment-3-rejected {
    width: 34%;
    background-color: #AD0019;
  }
  
  nz-progress {
    width: 10%;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    background-color: white;
  }
  