.custom-container {
    display: flex;
  }
  
  .section {
    width: 200px;
  }
  
  .section p {
    margin-right: 20px;
  }
  
  .custom-modal {
    min-width: 1800px;
    width: 100%;
  }
  
  .custom-modal .ant-modal-content {
    min-width: 2000px;
    width: 100%;
  }
  