<div class="custom-container">
  <div>
    <div class="section">
      <p>Credito con Id: <strong>{{ solicitud?.id }}</strong></p>
      <p>Estatus: <strong>{{ solicitud?.status }}</strong></p>
    </div>
    <div class="section">
      <p>Tipo de credito: <strong>{{ solicitud?.creditType }}</strong></p>
      <p>Plazo(meses): <strong>{{ solicitud?.term }}</strong></p>
    </div>
    <button (click)="details()" nz-button nzType="primary">Análisis</button>
  </div>
  <div>
    <app-chat [userType]="isAdmin ? 'admin' : 'user'"></app-chat>
  </div>
</div>
