<ul nz-menu nzMode="horizontal">
    <li nz-submenu nzTitle="Menu de Navegacion" nzIcon="menu-unfold">
      <ul>
        <li nz-menu-group nzTitle="Usuario">
          <ul>
            <li nz-menu-item>        
                <a href="/form" target="_blank" rel="noopener noreferrer">Solicitud de credito</a></li>
            <li nz-menu-item>        
                <a href="" target="_blank" rel="noopener noreferrer">Mis solicitudes</a>
            </li>
          </ul>
        <li nz-menu-group nzTitle="Aplicacion">
          <ul>
            <li nz-menu-item>
                <a href="" target="_blank" rel="noopener noreferrer">Ayuda</a>
            </li>
            <li nz-menu-item>
                <a href="/login" target="_blank" rel="noopener noreferrer">Salir</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
