 * {
    background-color: #303135 !important;
}

::ng-deep .ant-menu-item a,
::ng-deep .ant-menu-submenu-title {
    color: #f43a49 !important;
}


::ng-deep .ant-menu-item:hover a,
::ng-deep .ant-menu-item-group-title,
::ng-deep .ant-menu-submenu-title:hover {
    color: white !important;
}
