section {
  margin-bottom: 24px;
}

h3 {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

section {
  background-color: #FF9E9B;
  border-radius: 12px;
  padding: 16px 24px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

