.chat-container {
    display: flex;
    flex-direction: column;
    height: 350px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    max-width: 280px;
    margin-left: 20px;
  }
  
  .messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    max-width: 300px;
  }
  
  .message-sent {
    text-align: right;
    margin-bottom: 10px;
    margin-left: 50px;
    background-color: #6CB3DD;
    border-radius: 10px;
    max-width: 150px;
    padding: 3px;
  }
  
  .message-received {
    text-align: left;
    margin-bottom: 10px;
    background-color: #527C96;
    border-radius: 10px;
    max-width: 150px;
    padding: 3px;
  }
  
  .chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #d9d9d9;
  }
  
  .chat-input input {
    flex: 1;
    margin-right: 10px;
  }
  