.custom-container {
  justify-content: center; 
  align-items: center;
  padding: 30px;
}

.custom-card {
  width: 300px;
  background: #FF9E9B;
  border-radius: 5px;
  color: #AD0019;
}

.custom-card .ant-card-head-title {
  color: #AD0019;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 300px); 
  gap: 20px; 
  justify-content: center; 
}

.custom-modal {
  min-width: 2000px;
  width: 100%;
}

.custom-modal .ant-modal-content {
  min-width: 2000px;
  width: 100%;
}
