/* Estilo para el contenedor */
.custom-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 30px;
  }
  
  /* Estilo para la nz-card */
  .custom-card {
    width: 300px;
    background: #E8CDD1;
    border-radius: 5px;
    color: #AD0019;
  }
  
  .custom-card .ant-card-head-title {
    color: #AD0019;
  }