<div class="custom-container">
  <div class="card-container">
    <div class="progress-bar-wrapper" *ngFor="let solicitud of solicitudes">
      <app-progress-bar class="progress-bar" [progress]="calculateProgress(solicitud.status)" [status]="solicitud.status"></app-progress-bar>
      <nz-card class="custom-card" [nzBordered]="false" [nzTitle]="solicitud.title" [nzExtra]="extraTemplate">
        <div class="card-content">
          <p>Credito con Id: {{ solicitud.id }}</p>
          <p>Estatus: {{ solicitud.status }}</p>
          <p>Tipo de credito: {{ solicitud.creditType }}</p>
        </div>
        <ng-template #extraTemplate>
          <a (click)="showDetails(solicitud)">Detalle</a>
        </ng-template>
      </nz-card>
    </div>
  </div>
</div>
